*{
    padding: 0;
    margin: 0;
}
body{
    background:  hsl(216, 12%, 8%);
  font-family: "Overpass", sans-serif;
 
}
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --mediumGreyOp: hsla(216, 12%, 54%, 0.2);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.card{
    width: 50%;
    height: 45%;
    background: var(--darkBlue);
    border-radius: 20px;
    padding: 25px;
}
.star-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mediumGreyOp);
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.star-icon img{
    width: 15px;
    height: 15px;
}
.heading{
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px ;
}
.description{
    font-size: 12.5px;
    color: var(--lightGrey);
    margin-top: 15px;
    font-weight: 400;
}
.rating{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mediumGreyOp);
    color: var(--mediumGrey);
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-weight: 700;
    cursor: "";
}
.numbers:hover{
    background:  var(--orange);
    color: var(--white);
}
button{
    width: 100%;
    padding: 12.5px;
    margin-top: 20px;
    background-color: var(--orange);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    border: none;
    cursor:""
}
button:hover{
    background: var(--white);
    color: var(--orange);
}
/*media query*/
/* Responsive Media Queries */
@media screen and (min-width:375px){
    .card{
        width: 20%;
    }
    button{
        margin-top: 30px;
    }
}
/*thanyou */
.image{
    display: flex;
    justify-content: center;
    width: 100%;
}
.text2{
    text-align: center;
    /* margin-top: 60px; */
}
.thank-you{
    display: none;
}
.rating-card{
    display: block;
}
.rating-active{
    background: white;
    color: black;
}
.rated{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.selectedRating{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 10px;
    
    padding: 5px 0;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--mediumGreyOp);
    color: var(--orange);
    border-radius: 30px;
}